# Provider environment variables
aws_region = "us-east-1"

# The name of the existing MSK cluster
mz_msk_cluster_name =
# Port: 9092, or the port that you are using in case it is not 9092 (e.g. 9094 for TLS or 9096 for SASL or 9098 for IAM)
mz_msk_cluster_port =
# The VPC ID of the existing MSK cluster
mz_msk_vpc_id =
